@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

/* Cosmic aura */
html, body { 
  @apply bg-black text-gray-100 min-h-screen;
  font-feature-settings: "liga" 1, "kern" 1;
}

::selection {
  @apply bg-purple-500/50 text-white;
}
